{% extends "base.html" %}

{% block content %}
    <h2>Registrar Salida</h2>
    <div class="card">
        <form method="POST" action="/exit">
            <p>
                <label>ID del Ticket:</label><br>
                <input type="number" name="ticket_id" required min="1">
            </p>
            <p>
                <label>Horas transcurridas (Simulación):</label><br>
                <input type="number" step="0.1" name="hours" required min="0.1" placeholder="Ej. 2.5">
            </p>
            <button type="submit">Procesar Salida y Cobrar</button>
        </form>
    </div>
{% endblock %}